@import url("../admin/admin.css");
@import "../ma_formation/livretAccueil.css";
@import "../ma_formation/agenda.css";
@import "../admin/admin.css";
@import "../admin/gestion_programmes.css";
@import "../ma_formation/contact_utiles.css";
@import "../ressources/Ressources.css";


body {
  background-image: url("../images/zenika.png");
  --zenika-red: #b21e3e;
}

main {
  margin: 2em;
}

nav > div {
  padding-left: 1rem;
}

nav > a {
  padding-left: 1rem;
  padding-right: 1rem;
}

nav > a:nth-last-child(2){
  margin-left: auto;
  margin-right: 1rem;
}

.nav-title {
  font-weight: bold;
}

main article section.photo {
  background: red;
  max-width: 150px;
  min-width: 150px;
}

main article section.void {
  max-width: 80px;
  min-width: 20px;
}

main article section.description {
  background: blue;
  min-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#dropdownMenuLink {
  background: #b21e3e;
  border: #b21e3e;
}

#bonjourjérémie {
  background: #b21e3e;
  border: #b21e3e;
}
