.loader {
  border: 3px solid #f3f3f3;
  /* Light grey */
  border-top: 3px solid rgb(178, 30, 62);
  /* Blue */
  border-radius: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1.3rem;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.h1_event {
  text-align: center;
}

.h2_event {
  margin: 0 8px 10px;
  color: rgb(178, 30, 62);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  text-transform: none;
}

.p_event {
  width: 25rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;

}

.card-event {
  margin-top: 8rem;
  height: 30vh;

}
@media only screen and(max-width: 983px) {
  .card-event {
    margin-top: 5rem;
  }

}
