.addToCalendar,
.chq-atc--button,
.chq-atc--button svg {
  box-shadow: none !important;
  color: white !important;
  background: #1a73e8 !important;
  border: none !important;

}

.chq-atc--dropdown a:hover {
  background-color: rgb(178, 30, 62)!important;
  color: #fff;
}

.chq-atc--button svg {
  display: none;
}

.AddToCalendar-custom {
  background-color: #fff !important;
  color: #fff!important;
}

#icon-update {
  .addToCalendar,
  .chq-atc--button,
  .chq-atc--button svg {
    box-shadow: none !important;
    background: #fff !important;
    border: none !important;

  }

  .chq-atc--dropdown a:hover {
    background-color: rgb(178, 30, 62)!important;
    color: #fff;
  }
}

.fc-toolbar h2 {
  font-size: 1.7rem !important;
}
/* responsive css footer */
@media only screen and(max-width: 767px) {
  .fc-toolbar h2 {
    font-size: 1rem !important;
  }

}
