.validation-style {
  color: #cc4949;
  margin: 0;
}

.label-style {
  font-size: .9rem;
  margin: 1rem;
}

/* responsive css footer */
@media only screen and(max-width: 767px) {
  .section-style {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .upload-style {
    margin-bottom: 4rem;
  }
}
