#promotionByID {
  .promotion-p-style {
    color: #b21e3e;
    text-decoration: underline;
    align-items: none;
  }

  .section-style-promotion {
    margin-top: 2rem;
    align-items: none;
  }

}
