#promotionByID {
  .section-eleve-style {
    justify-content: space-around;
    margin-top: 2rem;
    flex-wrap: wrap;
  }

  .promotion-p-style {
    color: #cc4949;
    text-decoration: underline;
  }

  .section-style-promotion {
    justify-content: space-evenly;
    margin-top: 2rem;
  }
}
