.article-card-who2follow {
  margin: 1rem;

}

.card-who2follow {
  // border: 1px solid rgba(0, .0156rem, 0, 0.125);
  margin: .1rem .1rem 2rem;
  text-align: left;

}

.headerUser-card-who2follow {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom: none;
  display: flex;
  justify-content: center;
}

.imgUser-card-who2follow {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  margin-top: .6rem;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;

}

.header-card-who2follow {
  height: 7vh;
  margin-bottom: .5rem;
  margin-right: auto;
  margin-left: auto;
  // border-bottom: 1px soid rgba(0, 0, 0, 0.125);
}

.section-HeaderUser-card-who2follow {

  display: flex;
  flex-direction: flex;
  position: absolute;
  right: 0;
  margin: .4rem;
}

.title-card-who2follow {
  color: #000;
  margin-top: .8rem;
  font-size: 1.2rem;

}

.sectionUser-card-who2follow {
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 1rem;
}

.nameUser-card-who2follow {
  margin-top: .5rem;
  font-size: 1.4rem;
  text-align: center;
  color: rgba(0,0,0,.9);
  font-weight: 600;
  line-height: 1.5;
}

.fonctionUser-card-who2follow {
  font-size: 1.1rem;
  line-height: 1.42857;
  font-weight: 400;
  color: rgba(0,0,0,.6);
  text-align: center;
}

.descriptionUser-card-who2follow {

  font-size: 1.1rem;
  line-height: 1.42857;
  font-weight: 400;
  margin-left: 1.2rem;
  text-align: left;
}

.sectionFooter-card-who2follow {
  margin-left: auto;
}

// delete user2follow Modal

.header-modal-delete-who2follow {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  justify-content: flex-end;
}

.description-modal-delete-who2follow {
  margin: 1rem;
}

.footer-style {
  float: right;
}
// Add user2follow Modal
.customTitle-H1 {
  float: left;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 3.25rem;
  letter-spacing: .0156rem;
}

.header-modal-add-who2follow {
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.form-group-who2follow {
  margin-top: 1rem;
}

.footer-style {
  margin-top: 1rem;
  float: right;
}

.who2follow-input {
  margin-bottom: 1rem;
}
// 
.section-card-user {
  margin: 1rem auto;
}

.button-follow {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.img-socialMedia {
  height: 15vh;

}

.card-button-twitter {
  color: #00acee;
  cursor: pointer;
  margin: .3rem .3rem 0;
}

.card-button-github {
  color: #000000;
  cursor: pointer;
  margin: .3rem .3rem 0;
}

.card-button-reddit {
  color: #FF4301;
  cursor: pointer;
  margin: .3rem .3rem 0;
}

.card-button-linkedin {
  color: #2867B2;
  cursor: pointer;
  margin: .3rem .3rem 0;
}

.social-icon-card {
  color: #fff;
}
@media only screen and(max-width: 1025px) {
  .img-follow {
    height: 12vh;
    border-radius: 50%;
  }

  .card-follow-description {
    margin: 4rem;
  }
}
