article#newsfeed_accueil{
    width: 50rem;
    margin: 2rem;
    margin-right: 5rem;
    section{
        margin: 0;
        padding: 0.7rem;
        border-bottom: 1px solid lightgrey;
    }   a{
        background: rgb(178, 30, 62);
        border: rgb(178, 30, 62);
    }
}

