nav#navbar{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    a.bouton-navbar {
        background: rgb(178, 30, 62);
        border: rgb(178, 30, 62);
    }
    a.bouton-navbar:hover{
        background: rgb(178, 30, 62);
        border: rgb(178, 30, 62);
    }
    #dropdownMenuLink{
        background: rgb(178, 30, 62);
        border: rgb(178, 30, 62);
    }
    #dropdownMenuLink:hover{
        background: rgb(178, 30, 62);
        border: rgb(178, 30, 62);
    }
    button.navbar-toggler{
        background: rgb(178, 30, 62);
    }
    div{ 
        padding: 0.1rem;
        div#end-of-navbar{
        margin-left: auto;
        a{
            margin: 0.1rem;
        }
    }
}
} 

