#admin-page {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  flex-grow: 1;

  table {
    th {
      cursor: pointer;

      i {
        font-size: .9rem;
        line-height: unset;
      }
    }

  }

  p {
    max-width: 5rem;
  }

  .promotion-row {
    padding: 1rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  .search-bar-promo {
    width: 10rem;
    margin-bottom: 1rem;
  }

  .date-style {
    display: flex;
    flex-direction: column;
  }
  @media only screen and(max-width: 767px) {
    .t-head-style {
      display: flex;
      flex-direction: column;
    }

    .show-responsive-table-media {
      display: flex;
      flex-direction: column;
    }

    .article-responsive-table-style {
      border: 1px solid lightgrey;
    }

    .p-responsive-table-style {
      color: #cc4949;
      text-decoration: underline;
    }

    .show-table-media {
      display: none;

    }
  }
  @media only screen and(min-width: 768px) {
    .show-responsive-table-media {
      display: none;

    }

  }

}
