nav#navbar{
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  .login-btn{
    margin-left: auto;
    color: white;
  }
  a.bouton-navbar {
      background: rgb(178, 30, 62);
      border: rgb(178, 30, 62);
  }
  button.bouton-navbar {
    background: rgb(178, 30, 62);
    border: rgb(178, 30, 62);
  }
  a.bouton-navbar:hover{
      background: rgb(178, 30, 62);
      border: rgb(178, 30, 62);
  }
  .dropdown-menu{
    color: #343a40
  }
  #dropdownMenuLink{
      background: rgb(178, 30, 62);
      border: rgb(178, 30, 62);
  }
  #dropdownMenuLink:hover{
      background: rgb(178, 30, 62);
      border: rgb(178, 30, 62);
  }
  button.navbar-toggler{
      background: rgb(178, 30, 62);
  }
  div{
      div#end-of-navbar{
      margin-left: auto;
    }
  }
} 

.dropdown-menu{
  a{
    color: white;
  }
  background-color: rgb(178, 30, 62)
  
}

.error {
color: red;
background: rgb(255, 255, 255);
font-size: 20px;
border-style: solid;
border-radius: 5px;
padding: 10px;
margin-bottom: 10px;
}


/* STRUCTURE */

.login-wrapper {
display: flex;
align-items: center;
flex-direction: column; 
margin-right: 5rem;
justify-content: center;
padding: 1rem;
-webkit-border-radius: 10px 10px 10px 10px;
border-radius: 10px 10px 10px 10px;
background: #fff;
padding: 30px;
width: 90%;
max-width: 450px;
position: relative;
padding: 0px;
-webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
text-align: center;
}

input#submit-login{
  background-color: rgb(178, 30, 62);
  color: white;
}

input.login-form {
background-color: #f6f6f6;
border: none;
color: #0d0d0d;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 5px;
width: 85%;
border: 2px solid #f6f6f6;
-webkit-border-radius: 5px 5px 5px 5px;
border-radius: 5px 5px 5px 5px;
}

input.login-form:focus {
background-color: #fff;
border: 2px solid #ff000070;
}

.underlineHover:hover {
color: #0d0d0d;
}

.underlineHover:hover:after{
width: 100%;
}

.icon {
width:7rem;
}