#ajouter-ressource {
    
    display: flex;
    justify-content: center;
    padding: 1rem;
    flex-grow: 1;

    input {
        width: 100%
    }

    form {
        width: 50rem;
    }

    textarea {
        min-height: 10rem;
        max-height: 20rem;
    }

    .btn.btn-danger{
        color:white;
        background-color:#b21e3e ;

        &:hover{
            color:white;
            background-color:#470514
        }
    }
}

.modal-ajouter-ressource{
    width:100%;
}