#rss {
  .card-article {
    display: flex;
  }

  .card-rss-button {
    background-color: #f26522;
    color: #fff;
    border: #f26522;
    margin: 1rem;
    padding: .1rem;
    border-radius: 15%;
  }

  .section-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .header-article-rss {
    height: max-content;
  }

  .section-article-rss {
    display: flex;
    flex-wrap: wrap;
    height: max-content;
  }

  .card-rss .edit {
    display: block;
  }

  .edit {
    text-align: right;
    position: absolute;
    right: .3rem;
    top: .3rem;
    display: none;
    color: rgba(0, 0, 0, 0.342);
    cursor: pointer;
  }

  .remove-icon {
    color: #cc4949;
    font-size: 1.5rem;
  }

  .button-position {
    margin-left: 2rem;
    margin-bottom: 2rem;
  }
}
