.article-card-who-to-follow {
  margin: 1rem;

}

.card-who-to-follow {
  // border: 1px solid rgba(0, .0156rem, 0, 0.125);
  margin: .1rem .1rem 2rem;
  text-align: left;

}

.header-user-card-who-to-follow {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom: none;
  display: flex;
  justify-content: center;
}

.img-user-card-who-to-follow {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  margin-top: .6rem;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;

}

.header-card-who-to-follow {
  height: 7vh;
  margin-bottom: .5rem;
  margin-right: auto;
  margin-left: auto;
  // border-bottom: 1px soid rgba(0, 0, 0, 0.125);
}

.section-header-user-card-who-to-follow {

  display: flex;
  flex-direction: flex;
  position: absolute;
  right: 0;
  margin: .4rem;
}

.title-card-who-to-follow {
  color: #000;
  margin-top: .8rem;
  font-size: 1.2rem;

}

.section-user-card-who-to-follow {
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 1rem;
}

.name-user-card-who-to-follow {
  margin-top: .5rem;
  font-size: 1.4rem;
  text-align: center;
  color: rgba(0,0,0,.9);
  font-weight: 600;
  line-height: 1.5;
}

.fonction-user-card-who-to-follow {
  font-size: 1.1rem;
  line-height: 1.42857;
  font-weight: 400;
  color: rgba(0,0,0,.6);
  text-align: center;
}

.description-user-card-who-to-follow {

  font-size: 1.1rem;
  line-height: 1.42857;
  font-weight: 400;
  margin-left: 1.2rem;
  text-align: left;
}

.section-footer-card-who-to-follow {
  margin-left: auto;
}

// delete user2follow Modal

.header-modal-delete-who-to-follow {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  justify-content: flex-end;
}

.description-modal-delete-who-to-follow {
  margin: 1rem;
}

.footer-style {
  float: right;
}
