// Dossier FontAwesomes
@import '../../components/FontAwesomeIcon/fontawesome.scss';
// Dossier Components
@import '../../components/Footer/footer.scss';
@import '../../components/Index/Carousel/carousel.scss';
@import '../../components/Index/Newsfeed/newsfeed.scss';
@import '../../components/Login/login.scss';
@import '../../components/Calendrier/calendrier.scss';
@import '../../components/Boutons/Boutons.scss';
@import '../../components/Admin/admin.scss';
@import '../../components/Modal/modalEvent.scss';

// Dossier Pages
@import '../../pages/admin/CreationUtilisateur/creation-utilisateur.scss';
@import '../../pages/admin/CreationPromotion/creation-promotion.scss';
@import '../../pages/admin/CreationProgramme/creation-programme.scss';
@import '../../pages/ma-formation/Contact-Utiles/contacts-utiles.scss';
@import '../../pages/utilisateur/MonProfil/mon-profil.scss';
@import '../../pages/communaute/Rss/rss.scss';
@import '../../pages/communaute/WhoToFollow/follow.scss';
@import '../../pages/ressources/ressources.scss';
@import '../../pages/ressources/ajouter-ressource.scss';
@import '../../pages/ma-formation/Livret-Accueil/livret-accueil.scss';
@import '../../pages/ma-formation/Agenda/agenda.scss';



// Calendar
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';

#__next,
body,
html {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
  background-color: #fff;
}

.main {
  display: flex;
  flex: 1;
}

.mainTitle {
  margin: 2.3rem;

}

.card {
  margin: 1rem;
}

.container-card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;

}

.card-article {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.card-title {
  color: #000000;
  text-decoration-color: #000000;
  font-size: 1.5rem;

}

.card-description {
  text-align: left;
}

article.container-article {
  width: 100%;
  align-self: unset;
  margin: 0;
  max-width: unset;

}
