.footer-decoration {
  background-color: #000000;
  color: white;
  padding: .3rem;

}

.footer-titre-h1 {
  font-size: 1.4875rem;
}

.footer-link-customization {
  color: white;
  text-decoration: underline;
}

.footer-link-customization:hover {
  color: white;
}

.footer-link-decoration {
  text-transform: uppercase;
  font-weight: 300;
  font-size: .8375rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
  color: white;
  text-decoration: underline;

}

.footer-socialIcon {
  display: flex;
  justify-content: space-evenly;
  width: 13rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: .3rem;

}

.row1-position {
  text-align: left;
  margin-top: .25rem;
}

.row2-position {
  text-align: center;
}

.row3-position {
  text-align: right;
  margin-top: .2rem;
}

/* responsive css footer */
@media only screen and(max-width: 767px) {
  .row1-position,
  .row3-position {
    text-align: center !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

}
