article#article_contact_utiles{
    width: 40rem;
    margin-top: 2rem;
}


img#img_contact_utiles{
    width: 10rem;
    height: 10rem;
}

h1.card-title{
    font-size: 1.4rem;
    font-weight: bold;
}