// Add user2follow Modal

// .form-control {
//   :placeholder-shown
//   }

.styles_modal__gNwvD {
  width: 45rem;
}

.custom-title-H1 {

  float: left;
  font-size: 1rem;
  font-weight: 500;
  line-height: 3.25rem;
  margin-left: auto;
  letter-spacing: .0156rem;
}

.header-modal-add {
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  margin-left: auto;
  text-align: right;
}

.form-group-who-to-follow {
  margin-top: .3rem;
}

.footer-style {
  margin-top: 1rem;
  float: right;
}

.who-to-follow-input {
  border: 1px solid #cc4949;
}

.who-to-follow-input-fonction {
  border: 1px solid #cc4949;
}

.section-card-user {
  margin: 1rem auto;
}

.button-follow {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.img-social-media {
  height: 15vh;
}

.card-button-twitter {
  color: #00acee;
  cursor: pointer;
  margin: .3rem .3rem 0;
}

.card-button-github {
  color: #000000;
  cursor: pointer;
  margin: .3rem .3rem 0;
}

.card-button-rss,
.card-button-rss:hover {
  color: #FF4301;
  cursor: pointer;
  margin: .3rem .3rem 0;
}

.card-button-linkedin {
  color: #2867B2;
  cursor: pointer;
  margin: .3rem .3rem 0;
}

.social-icon-card {
  color: #fff;
}
@media only screen and(max-width: 1025px) {
  .img-follow {
    height: 12vh;
    border-radius: 50%;
  }

  .card-follow-description {
    margin: 4rem;
  }
}
