.modalHeader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sectionmodalHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.sectionModalDeleteEvent {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.customModalTitle {
  width: 100%;
}

.customModalTitle-H1 {
  color: #1a73e8;
  min-width: 100%;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 2.25rem;
  letter-spacing: .0156rem;
}

.customModalTitle-H2 {
  font-size: 1.25rem;
  color: #3c4043;
  font-weight: 400;
  margin: 0;
  font-family: inherit;
}

.close-button-icon,
.modal-button-footer,
.modal-button-icon {
  background-color: #fff;
  color: gray;
  border: 1px solid #fff;
}

.close-button-icon:hover,
.modal-button-footer:hover,
.modal-button-icon:hover {
  background-color: #fff;
  color: gray;
  border: 1px solid #fff;
}
