.follow-mainTitle {
  margin-top: 2.3rem;

}

.card-follow {
  margin: 1rem;
}

.article-follow {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.section-follow {
  width: 100%;
}

.section-user-info {

  margin: 1rem auto;
}

.button-follow {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;

}

.card-follow-article {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.card-follow-user {
  color: #000000;
  text-decoration-color: #000000;

  font-size: 1.5rem;

}

.card-follow-description {
  text-align: left;
}

.img-follow {
  height: 15vh;
  border-radius: 50%;
}

.card-button-twitter {
  background-color: #00acee;
  border: 2px solid #00acee;
  color: #fff;
  width: 6rem;
}

.card-button-github {
  background-color: #000000;
  border: 2px solid #000000;
  color: #fff;
  width: 6rem;
}

.card-button-reddit {
  background-color: #FF4301;
  border: 2px solid #FF4301;
  color: #fff;
  width: 6rem;
}

.social-icon-card {
  color: #fff;
}
@media only screen and(max-width: 1025px) {
  .img-follow {
    height: 12vh;
    border-radius: 50%;
  }

  .card-follow-description {
    margin: 4rem;
  }
}
