.ressourceCarte {
    margin-top: 0.5rem;
    padding: 1rem; 
    cursor: pointer;

    a {
        color: black;
        font-size: 1.5rem;
        font-weight: bold;
    }
}

.ressources select {
    width: 10rem;
}

article.ressources {
    margin:1rem;
    height: 100%;
    width: 100%;
}

article.gestionProgramme.card {
    width: 70rem;
}

article.gestionProgramme.card .card-body li {
    height: 5rem;
}

article.gestionProgramme.card footer {
    padding: 1rem;
}