.ressources {
    padding: 1rem;
    flex-grow: 1;
    height: 100%;
}

.ressourceCarte {
    height: 10rem;
}

.ressourceCarte,
.ressourceContent {
    padding: 1rem;
    min-width: 40rem;

    img {
        height: 4rem;
    }

    .btn {
        font-weight: bold;
        margin-left: 0.5rem;
    }

    .ressourceDetails {
        margin: 0 1rem 0 1rem;

        h2 {
            margin: 0;
            text-transform: initial;
            text-align: initial;
        }

        h2 a {
            font-size: 1.5rem;
            color: black;
            cursor: pointer;
        }

        i {
            font-weight: bold;
            color: gray;
        }
    }
}

.ressources select {
    width: 10rem;
}

.ressourceContent {
    padding: 2rem;
}

article.gestionProgramme.card {
    width: 70rem;
}

article.gestionProgramme.card .card-body li {
    height: 5rem;
}

article.gestionProgramme.card footer {
    padding: 1rem;

}

.ajouterRessource input[type=text] {
    background-color: unset;
    color: black;
    text-align: left;
    padding: 0.5rem;
}