.mainTitle {
  margin: 2.3rem;

}

.card {
  margin: 1rem;
}

.container-card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;

}

.card-article {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.card-title {
  color: #000000;
  text-decoration-color: #000000;
  font-size: 1.5rem;

}

.card-description {
  text-align: left;
}

article.container-article {
  width: 100%;
  align-self: unset;
  margin: 0;
  max-width: unset;

}
