.login:hover {
  background-color: green;
}

.btn {
  color: white;

  a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
}

.valider {
  background-color: #2E8B57;
}

.valider:hover {
  background-color: rgb(24, 77, 47);

}

.annuler {
  background-color: #cc4949;
}

.annuler:hover {
  background-color: #a12a2a;
}


.modifier {
  background-color: rgb(233, 202, 30);
}

.modifier:hover {
  background-color: rgb(126, 111, 27);
}