main.ressources article {
  height: 30rem;
}

main.ressources article header select {
  width: 10rem;
}

main.ressources article header input {
  width: 50rem;
  padding: 0.3rem;
}

main.ressources article ul li {
  list-style: none;
}

main.ressources article button.btn-primary {
  background-color: var(--zenika-red);
}
main.ressources article div:first-child {
  padding: 0.5rem;
}

main.ressources article header div:first-child {
  width: 100%;
}
